
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    margin: 0;
}
* {
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.col-10 {
    flex: 0 0 83.3333333%;
    max-width: 83.3333333%;
}
.col-2 {
    flex: 0 0 16.6666666%;
    max-width: 16.6666666%;
}
.col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%; 
}
.col-20 {
    flex: 0 0 20%;
    max-width: 20%; 
}
img{
    max-width: 100%;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
.font-weight-bolder {
    font-weight: bolder;
}
.wrapper-color {
    margin-top: 70px;
    background-color: #F5F5F5;
    padding: 50px 0; 
}
.user-avatar {
    height: 30px;
}
.bread-crumb {
    padding: 10px 5%;
    background: #EFEFEF;
}
.bread-crumb a {
    color: #999;
}
.bread-crumb span {
    font-weight: 300;
    font-size: 15px;
}
.color-red {
    color: red;
}
.color-blue {
    color: #3399ff!important;
}
.cursor-pointer {
    cursor: pointer;
}