*{
    box-sizing: border-box;
}
.body{
    width: 90%;
    min-height: 400px;
    padding-bottom: 40px;
    margin-top: 30px;
}

.body .sidebar{
    width: 240px;
    float: left;
    margin-top: 40px;
}
.body .title{
    margin: 10px 0;
    padding-right: 10px;
}
.body .title p{
    font-size: 20px;
    text-transform: uppercase;
}
.body .list_items{
    width: 100%;
    padding-right: 40px;
}
.list_items ul li{
    list-style: none;
    padding: 7px 0 5px 0;
    border-bottom: 1px #3399ff dashed;
}
.list_items ul li a{
    font-size: 15px;
    color: #000;
    text-decoration: none;
    padding: 5px 0;
}
.list_items ul li a:hover{
    color: #3399ff;
}

.main{
    width: 960px;
    float: left;
    border: 1px solid #f7f7f7;
    padding: 25px;
    background: white;
    border-radius: 5px;
    margin-top: 40px; 
}
.main .category_title{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.category_title p{
    font-size: 19px;
    text-transform: uppercase;
    margin: 10px 0 0 0;
}
.main_row{
    width: 100%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    background: white;
}
.row .col-product{
    position: relative;
    width: 20%;
    float: left;
}
.row .col-product:hover{
    box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.19), 5px 0 5px -5px rgba(0, 0, 0, 0.19);
}
.col-product .product-item{
    width: 240px;
    display: block;
    padding: 0 0 25px;
    border: 1px solid transparent;
    position: relative;
    max-width: 100%;
}
.product-item>a{
    display: block;
    width: 200px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.product-item .img-item{
    overflow: hidden;
    display: block;
    position: relative;
    margin: 25px auto 0;
    text-align: center;
    background: #fff;
    height: 200px;
    white-space: nowrap;
}
.product-item .title{
    text-overflow: ellipsis;
    position: relative;
    text-align: left;
    margin: 15px auto 0;
    letter-spacing: .1px;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.38;
    color: #242424;
    max-height: 40px;
    display: -webkit-box;
    overflow: hidden;
}
.product-item .price-sale{
    font-size: 14px;
    color: #242424;
    font-weight: bold;
    text-align: left;
}
.product-item .price-sale .price-regular{
    font-size: 12px;
    color: #a2a2a2;
    text-decoration: line-through;
    text-align: left;
    font-weight: 300;
}
.product-item .sale-tag{
    color: #FF3B26;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    margin-left: 2px;
}

/*-- DETAIL_PRODUCTS --*/
.detail_product{
    width: 100%;
    display: block;
}
.detail_product .col-left{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f7f7f7;
}
.detail_product .col-left img {
    width: 200px;
}
.detail_product .col-right{
    width: 60%;
    float: left;
    padding-left: 40px;
}
.detail_product .row {
    padding-top: 40px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 41px;
}
.col-right .row1{
    width: 100%;
    margin:0 auto;
    border-bottom: 2px solid #f7f7f7;
    padding-left: 5%;
}
.col-right .product_name{
    width: 100%;
    font-size: 26px;
    margin: 10px 0;
    color: #212529;
    font-weight: 200;
}
.col-right .rating-box{
    position: relative;
    display: inline-block;
    cursor: pointer;

}
.row1 p{
    margin: 15px 0;
}
.row1 p .author{
    color: #3399ff;
    text-decoration: none;
}
.description .author:hover{
    color: #3399ff;
}
.col-right .price{
    width: 250px;
    background: url(../images/pricetagproduct.png) no-repeat right 0;
    position: relative;
    padding: 9px 0 9px 20px;
    margin: 20px 0 10px -28px;
    font-size: 30px;
    text-align: center;
    line-height: 44px;
    color: #ff3425;
}
.col-right .spiral {
    position: absolute;
    top: -19px;
    left: 25px;
    background: url(../images/spiral.png) no-repeat right 0;
    height: 50px;
    width: 35px;
}
.col-right .original-price, .col-right .saving{
    color: #9b9b9b;
    line-height: 18px;
    font-size: 17px;
    font-weight: 300;
}

.description{
    display: block;
    height: auto;
    padding-top: 20px;
}
.description .des {
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px;
}
.description .des span {
    font-size: medium;
    color: #ff6600;
}
.section-name {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 200;
    margin: 10px;
    color: rgba(0,0,0,.54);
}
.description .des p{
    font-size: 15px;
    display: block;
    padding: 5px 7px;
    margin-top: 5.1px;
    text-align: justify;
    line-height: 21px;
}
.description .detail_infor{
    color: #000;
    width: auto;
    font-size: 24px;
    padding: 5px 0;
    text-decoration: none;
}
.col-right .addCart{
    margin: 20px 0;
}
.addCart li{
    list-style: none;

}
.addCart li a{
    text-decoration: none;
    width: auto;
    font-size: 17px;
    padding: 10px 15px;
    background-color: #ff3945;
    border-radius: 5px;
    color: white;
}
.addCart li a:hover{
    background-color: #3399ff;
}

#comment{
    margin: 1.5rem 0;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-head{
    font-size: 16px;
    padding: 12px 20px;
    border-bottom: 1px solid rgba(0,0,0,.125);
    background-color: rgba(0,0,0,.03);
}
.card-body{
    padding: 1.25rem;
    flex: 1 1 auto;
}
.card-body .form-control{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    height: auto;
}
.card-body .btn-submit{
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: 1rem;
}
.clear{
    clear: both;
}
#media{
    display: flex;
    align-items: flex-start;
    padding: 1.25rem;
    border: 1px solid #f7f7f7;
}
.rounded-circle{
    margin-right: 1rem;
    display: flex;
    border-radius: 50%;

}
.media-body {
    flex: 1;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
.media-body .text-comment{
    color: rgba(0,0,0,.54);
}
.media-body .commenter {

}
.body .other_products{
    width: 100%;
    margin-top: 20px;
}
.other-product-title{
    margin: 20px 0 14px;
}
.other-product-title h4{
    font-size: 20px;
    color: #a2a2a2;
    font-weight: normal;
    text-transform: uppercase;
}
.other_products .row{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 0;
}
.row .col-product{
    position: relative;
}
.row .col-product:hover{
    box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.19), 5px 0 5px -5px rgba(0, 0, 0, 0.19);
}
.col-product .product-item{
    width: 240px;
    display: block;
    padding: 0 0 25px;
    border: 1px solid transparent;
    position: relative;
    max-width: 100%;
}
.product-item>a{
    display: block;
    width: 200px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.product-item .img-item{
    overflow: hidden;
    display: block;
    position: relative;
    margin: 25px auto 0;
    text-align: center;
    background: #fff;
    height: 200px;
    white-space: nowrap;
}
.product-item .title{
    text-overflow: ellipsis;
    position: relative;
    text-align: left;
    margin: 15px auto 0;
    letter-spacing: .1px;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.38;
    color: #242424;
    max-height: 40px;
    display: -webkit-box;
    overflow: hidden;
}
.product-item .price-sale{
    font-size: 14px;
    color: #242424;
    font-weight: bold;
    text-align: left;
}
.product-item .price-sale .price-regular{
    font-size: 12px;
    color: #a2a2a2;
    text-decoration: line-through;
    text-align: left;
    font-weight: 300;
}
.product-item .sale-tag{
    color: #FF3B26;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    margin-left: 2px;
}

.other_products .main{
    width: 100%;
}
.other_products .category_title p{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}


/*-- ACCOUNT --*/
.heading{
    margin-bottom: 40px;
    border-bottom: 1px solid #efefef;
    margin-top: 0px;
    font-size: 34px;
}
.heading .main_text{
    font-size: 28px;
    color: #5e626b;
    text-transform: uppercase;
    padding: 0px 14px 4px 0;
    font-family: 'Crete Round', serif;
}
.heading .sub_text{
    font-size: 16px;
    color: #96979d;
    text-transform: none;
    font-weight: normal;
    padding: 0px;
}
.my_account{
    padding: 20px 15px 15px 15px;
    margin-bottom: 20px;
}
.my_account ul li{
    display: block;

}
.my_account ul li:first-child{
    border-bottom: 1px dashed #E7E7E7;
}
.my_account ul li a{
    display: block;
    padding: 8px 5px 8px 30px;
    color: #999999;
}

.main .row{
    display: block;
    margin: 20px 0px;
}
.main .row label{
    width: 20%;
    float: left;
    padding: 7px 20px 7px 0;
}
.main .row .gener{
    width: 100%;
}
.main .row input{
    padding: 7px 20px;
    border: 1px solid #ddd;
    border-radius: 5px 5px;
}
.main .row .gener input[type="radio"]{
    width: 5%;
}
.main .row .birthday-wrapper{
    width: 60%;
    float: left;
    padding: 7px 20px 7px 0;
}
.birthday-wrapper .birthday{
    width: 30%;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 7px 20px;
}


/*-- CHANGE PASSWORD --*/
.change_box .change_row{
    margin-bottom: 20px;
}
.change_box .change_label{
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
}
.red{
    color: #F00;
}
.change_box .change_input{
    margin-left: 180px;
}
.submit{
    margin-top: 30px;
    margin-left: 220px;
    margin-bottom: 50px;
}
.submit li{
    list-style: none;
}
.submit li a{
    text-decoration: none;
    width: auto;
    font-size: 15px;
    padding: 7px 20px;
    background-color: #F25C27;
    border-radius: 10px;
    letter-spacing: 1px;
}
.submit li a:hover{
    background-color: #3399ff;
}

/*-- MY CART --*/
.main .myCart{
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    padding: 5px 0;
}
.main .cart_table{
    width: 100%;
    height: 0;
}
.main .thead, .main .tbody{
    width: 100%;
    display: block;
    text-align: center;
}
.main .tr{
    border-bottom: 1px #f4f4f4 solid;
}
.main .tr div{
    float: left;
    padding: 20px 2px;
    font-size: 18px;
    color: #424242;
    font-size: 16px;
    vertical-align: top;
}
.main .tbody .tr:last-child{
    border-bottom: none;
}
.main .tbody .tr div{
    font-size: 14px;
}
.tr .proid, .tr .prodate, .tr .proprice{
    width: 12%;
}
.tr .prostatus{
    width: 14%;
}
.tr .proname{
    width: 50%;
    text-align: left;
}


/*-- SỔ ĐỊA CHỈ --*/
.row .address-title{
    margin-bottom: 15px;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    color: #242424;
}
.row .address-board{
    margin-bottom: 5px;
}
.address-board .panel-body{
    padding: 17px;
}
.panel-body .name{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #242424;
    text-transform: uppercase;
}
.panel-body .address{
    font-size: 14px;
    margin-bottom: 5px;
    color: #242424;
    font-weight: 400;
}
.panel-body .phone{
    font-size: 14px;
    margin-bottom: 0;
}

.panel-body .btn-edit{
    display: none;
}

/*-- PURCHASE --*/
.cart-header {
    color: #333;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 12px;
}
.cart-header span {
    font-size: 14px;
    text-transform: none;
    font-weight: 300;
}
#purchase-left{
    width: 70%;
    position: relative;
    min-height: 1px;
    padding: 0 15px;
    background: white;
    border-radius: 5px;
}
.shopping-cart-item{
    background-color: #fff;
    padding: 20px;
    margin: 0;
    display: flex;
    content: " ";
    border-bottom: 1px solid #ccc;
}
.shopping-cart-item .thumnail{
    width: 150px;
    height: 170px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    float: left;
}
.thumnail img{
    margin: 0 auto;
    max-width: 100%;
    display: block;
    height: auto;
}
.info-item{
    float: left;
}
.box-info-product{
    width: 522px;
    padding-right: 50px;
    padding-left: 15px;
    float: left;
}
.box-info-product .name{
    margin: 0;
    font-size: 14px;
    margin-bottom: 7px;
    line-height: 20px;
    font-weight: 700;
    padding-top: 0;
}
.box-info-product .note{
    color: #777;
    font-size: 13px;
    margin-bottom: 12px;
    margin: 0 0 10px;
}
.box-info-product .note a{
    color: #007ff0;
    text-decoration: none;
}
.box-info-product .note a:hover{
    text-decoration: underline;
}
.box-price {
    float: left;
    width: 130px;
    padding-right: 15px;
}
.box-price .price{
    font-size: 17px;
    font-weight: bold;
    padding-top: 0;
    margin: 0;
    margin-bottom: 5px;
}
.box-price .price2{
    font-size: 13px;
    margin-bottom: 8px;
    text-decoration: line-through;
    color: #a2a2a2;
}
.box-price .sale{
    background: #ff9601;
    font-size: 13px;
    color: #fff;
    padding: 3px 6px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    margin: 0;
    text-transform: uppercase;
}
.info-item .quantity{
    float: left;
}
.quantity .button-group{
    display: flex;
    align-items: center;
}
.quantity .button-group .number{
    margin: 10px;
    padding: 3px 5px;
}

#purchase-right{
    width: 30%;
    padding-left: 0;
    position: relative;
    min-height: 1px;
}
#purchase-right .row{
    width: 100%;
    clear: both;
    padding: 20px;
    margin-left: 10px;
    background: white;
    border-radius: 5px;
}
.sub-row{
    padding: 12px 15px;
    background-color: #fff;
    width: 100%;
}
.sub-row p{
    margin: 5px 0;

}
.sub-row .list-info-price strong{
    float: right;
    font-weight: bold;
}
.sub-row .text-label{
    margin-top: 5px;
    display: inline-block;
}
.sub-row  .amount{
    float: right;
}

.sub-row .text-right{
    font-size: 12px;
    margin: 10px 0 20px 0;
    text-align: right;
}
.checkout, .sent-gift{
    margin-top: 10px;
    padding: 10px;
    color: #fff;
    background-color: #ff424e;
    border-color: #ff424e;
    display: block;
    width: 100%;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
}
.sent-gift{
    background-color: #fdd835;
    border-color: #fdce03;
}
.checkout:hover{
    background-color: #ea000f;
}
.sent-gift:hover{
    background-color: #fdce03;
}


