.paginate {
    text-align: center;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination {
    display: inline-flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

a {
    text-decoration: none;
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.lang-form {
    display: inline-block;
    margin-top: 12px;
}

.form-group {
    width: 100%;
    margin: 10px 0;
    display: flex;
}

.form-control {
    display: inline-block;
    width: 79%;
    height: 30px;
    border-radius: 5px;
}

.form-control.multiple {
    height: 50px;
}

.form-text {
    display: inline-block;
    width: 79%;
    border-radius: 5px;    
}

.form-label {
    display: inline-block;
    width: 20%;
}

.col-1 {
    width: 10%;
}

.col-2 {
    width: 20%;
}

.col-3 {
    width: 30%;
}

.col-4 {
    width: 40%;
}

.col-5 {
    width: 50%;
}

.col-6 {
    width: 60%;
}

.col-7 {
    width: 70%;
}

.col-8 {
    width: 80%;
}

.col-9 {
    width: 90%;
}

.col-10 {
    width: 100%;
}

.col-min-1 {
    min-width: 50px;
}

.col-min-2 {
    min-width: 100px;
}

.col-min-3 {
    min-width: 150px;
}

.col-min-4 {
    min-width: 200px;
}

.col-min-5 {
    min-width: 250px;
}

.col-min-6 {
    min-width: 300px;
}

.col-min-7 {
    min-width: 350px;
}

.col-min-8 {
    min-width: 400px;
}

.col-min-9 {
    min-width: 450px;
}

.col-min-10 {
    min-width: 500px;
}

.col-max-1 {
    max-width: 50px;
}

.col-max-2 {
    max-width: 100px;
}

.col-max-3 {
    max-width: 150px;
}

.col-max-4 {
    max-width: 200px;
}

.col-max-5 {
    max-width: 250px;
}

.col-max-6 {
    max-width: 300px;
}

.col-max-7 {
    max-width: 350px;
}

.col-max-8 {
    max-width: 400px;
}

.col-max-9 {
    max-width: 450px;
}

.col-max-10 {
    max-width: 500px;
}

.thumbnail {
    width: 200px;
    height: 300px;
}

.thumbnail.preview {
    width: 150px;
    height: 220px;
}

.btn {
    border-radius: 5px;
    line-height: 45px;
    padding: 10px;
    color: white;
    margin: 3px;
}

.btn.btn-primary {
    background: #2175f3;
}

.btn.btn-success {
    background: #029e0e;
}

.btn.btn-danger {
    background: #e81212;
}

.btn.btn-light {
    background: #ffffff;
}

.btn.btn-warning {
    background: #ffc107;
    color: #212529;
}

.btn.btn-dark {
    background: #000000;
}

.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: inherit;
}

.table-none-border td, th {
    border: none;
}

.text-danger {
    color: #e81212;
}

.text-success {
    color: #029e0e
}