<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--                   Controllers                       -->
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>controllers.IndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookController</servlet-name>
        <servlet-class>controllers.BookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.client.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controllers.client.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controllers.client.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controllers.client.ProfileController</servlet-class>
    </servlet>
    <!--                      Views                             -->
    <servlet>
        <servlet-name>index view</servlet-name>
        <jsp-file>/WEB-INF/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookController</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index view</servlet-name>
        <url-pattern>/indexView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>book view</servlet-name>
        <jsp-file>/WEB-INF/book.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>book view</servlet-name>
        <url-pattern>/bookView</url-pattern>
    </servlet-mapping>
    <!--      client          -->
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/sign-up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <!--      end client      -->
    <welcome-file-list>
        <welcome-file>client/index.jsp</welcome-file>
    </welcome-file-list>
    <!--                      Sessions                          -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
