<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--                   Controllers                       -->
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>controllers.customer.IndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookController</servlet-name>
        <servlet-class>controllers.admin.BookController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookController</servlet-name>
        <url-pattern>/admin/books</url-pattern>
    </servlet-mapping>
    <!--                      Views                             -->
    <servlet>
        <servlet-name>index view</servlet-name>
        <jsp-file>/WEB-INF/customer/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index view</servlet-name>
        <url-pattern>/indexView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>book view</servlet-name>
        <jsp-file>/WEB-INF/admin/books/book.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>book view</servlet-name>
        <url-pattern>/bookView</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>WEB-INF/customer/index.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>   
        <servlet-name>addBook</servlet-name>
        <jsp-file>/WEB-INF/admin/books/add.jsp</jsp-file>
        <multipart-config>
            <location>/temp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>addBook</servlet-name>
        <url-pattern>/addBook</url-pattern>
    </servlet-mapping>
    <!--                      Sessions                          -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
